.forgotPassword {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.forgotPassword__container {
  margin-top: 9.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  width: 20.5rem;
  border-radius: 10px;
}

.forgotPassword__instruction {
  font-size: 0.87rem;
  color: #254159;
  margin: 3.1rem 0 1.85rem;
}
