.changePass {
  display: flex;
  color: #254159;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.changePass__container {
  display: flex;
  flex-direction: column;
  margin-top: 9.4rem;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 3.75rem 3.75rem 2rem 3.75rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.changePass__container > input {
  margin-top: 1.8rem;
}

.changePass__success {
  margin-top: 1rem;
  color: rgb(26, 173, 26);
}
.changePass__fail {
  margin-top: 1rem;
  color: red;
}
